[Unit]
Description=NextDNS DNS-over-HTTPS proxy
Documentation=https://github.com/nextdns/nextdns
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/nextdns run
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
